{% extends "staff_template/base.html" %}
{% block page_title %} 
Add Attendance 
{% endblock page_title %}
{% block main_content %}

<!-- Begin Page Content -->
<section class="content">
    <div class="container-fluid">
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card shadow mb-5"> 
                    <div class="card card-primary pb-2">
                        <div class="card-header">
                        <h3 class="card-title text-center">Attendance Details</h3>
                        </div>

                        <!-- form start -->
                        <form role="form" action="/save_attendance" method="post">
                        {% csrf_token %}

                        {% if messages %}
                        <div class="form-group">
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        </div>
                        {% endif %}

                        <div class="card-body">

                            <div class="form-group">
                                <label>Select Student</label>
                                <select class="form-control" name="student_id">
                                    {% for student in students %}
                                        <option value="{{ student.id }}">{{ student.user.first_name }} {{ student.user.last_name }} ({{ student.user.username }})</option>
                                    {% endfor %}
                                </select>   
                            </div>

                            <div class="form-group">
                                <label>Select Subject</label>
                                <select class="form-control" name="subject_id">
                                    {% for subject in subjects %}
                                        <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                                    {% endfor %}
                                </select>   
                            </div>

                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" name="date">
                            </div>

                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status">
                                    <option value="Present">Present</option>
                                    <option value="Absent">Absent</option>
                                </select>
                            </div>

                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</div>
</section>
{% endblock main_content %}
